
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" sizes="32x32" type="image/png" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" sizes="16x16" type="image/png" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/manifest.json">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <link href="{{ site.baseurl }}/assets/styles/main.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.8.1/tachyons.min.css" rel="stylesheet">
  <link href="https://unpkg.com/flickity@2/dist/flickity.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css" rel="stylesheet">
  {% include en/meta/meta.html %}
  {% include en/meta/analytics.html %}
</head>