<section class="bg-light-brand cf brand ph3 ph5-ns pv3">
  <div class="fl w-100">
    <div class="fl w-100 w-70-ns pa2">
      <h4 class="f5 fw4 mv3">How do I get started?</h4>
      <h2 class="f3 f2-ns fw4 mv3">Become a Member and Start Investing</h2>
      <h4 class="f5 fw4 mv3">Apply for a free membership</h4>
      <a href="#lead" class="mt3 f5 bg-brand white hover-bg-dark-brand hover-white no-underline tc pv3 ph4-ns ba br2 mr3-ns mv2 mv0-ns db dib-ns" title="Become a Member">Become a Member</a>
      <a href="#contact" class="f5 brand hover-bg-dark-brand hover-white no-underline pv3 ph5-ns tc ba b--brand br2 db dib-ns" title="Contact Us">Contact Us</a>
    </div>
    <ul class="fl w-100 w-30-ns pa2 list tr">
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/barchart.svg" class="fl w-20 h2 pa2" alt="Portfolio">
        <h3 class="fl w-70 tl f5 fw4 ma0">Start building your portfolio<br> of startups</h3>
      </li>
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/investors.svg" class="fl w-20 h2 pa2" alt="Investors">
        <h3 class="fl w-70 tl f5 fw4 ma0">Invest together with other<br> angel investors</h3>
      </li>
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/idea.svg" class="fl w-20 h2 pa2" alt="Investors">
        <h3 class="fl w-70 tl f5 fw4 ma0">Receive a dealflow of vetted<br> startups</h3>
      </li>
    </ul>
  </div>
</section>