<section class="bg-white cf dark-gray pt3 pb5 ph3 ph5-ns" id="service">
  <h4 class="f4 f2-ns fw7 bb-custom-sm bb-custom-brand tc">Notre mission</h4>
  <p class="f5 f4-ns fw1 mid-gray tc lh-copy">Bendi&co se propose d'aider tous ceux qui s'aiment et s'apprécient (amoureux sur le point de s'engager, couples, membres de famille, amis, collègues ... ) à apprendre à établir un dialogue constructif.</p>
  <div class="fl w-100 mt3 mt5-ns">
    <div class="fl w-100 w-third-ns pv2 ph4 tc">
      <img src="/assets/images/icons/dealflow.svg" class="h2" alt="Dealflow Service">
      <h3 class="f4 brand bb-custom-md bb-custom-gray">Dealflow Service</h3>
      <p class="f5 fw3 tl">Angelr provides investors with startups within the Nordic startup scene. By becoming a member, Angelr supplies you with a deal flow of companies of your preferences.</p>
    </div>
    <div class="fl w-100 w-third-ns pv2 ph4 tc">
      <img src="/assets/images/icons/player.svg" class="h2" alt="Dealflow Service">
      <h3 class="f4 brand bb-custom-md bb-custom-gray">Company Presentations</h3>
      <p class="f5 fw3 tl">When you find a startup you want to learn more about, you will be invited to a company presentation or we will arrange a private meeting for you. The meetings are a chance to get to know the entrepreneur better, and on presentations you may also connect with other investors.</p>
    </div>
    <div class="fl w-100 w-third-ns pv2 ph4 tc">
      <img src="/assets/images/icons/briefcase.svg" class="h2" alt="Dealflow Service">
      <h3 class="f4 brand bb-custom-md bb-custom-gray">Legal Assistance</h3>
      <p class="f5 fw3 tl">Angelr will help you throughout the entire process when investing in startups. This includes providing legal documents, legal structure for syndication and setting up a holding company.</p>
    </div>
  </div>
</section>