@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700,900');

.sourcepro {
	font-family: 'Source Sans Pro', sans-serif;
}

button, input, optgroup, select, textarea {
	font-family: 'Source Sans Pro', sans-serif;
}

.f5rem {
  font-size: 6rem;
}

.custom-fw6 {
  font-weight: 600;
}